.playlist-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  word-break: break-all;
  height: max-content;
}
.playist-card-title {
  min-width: 3rem;
  padding-right: 3rem;
}
.delete-btn {
  cursor: pointer;
}
