:root {
  --primary-color: #e9bc02;
  --primary-dark: #bf9b08;
}

* {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.page-title {
  margin: 2rem;
}

.main-container {
  display: grid;
  grid-template-columns: 15% 85%;
}

.videos-container {
  display: grid;
  justify-items: center;
  grid-gap: 3rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
}

.pointer {
  cursor: pointer;
}

.align-center {
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .main-container {
    grid-template-columns: 20% 80%;
  }
}

@media screen and (max-width: 950px) {
  .main-container {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .videos-container {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
}
